<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">PreClinic</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/roles" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/designations" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Designation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/doctors" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/staff" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">Staff</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

