<div class="main-wrapper">
  <div class="sidebar-backdrop" *ngIf="isMobile && isSidebarOpen" (click)="closeSidebar()"></div>
  <app-sidebar [isOpen]="isSidebarOpen"></app-sidebar>
  <div class="page-wrapper" [class.toggle-sidebar]="!isSidebarOpen">
    <app-header (toggleSidebar)="isSidebarOpen = !isSidebarOpen"></app-header>
    <div class="content">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


