.main-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  position: relative;
}

.page-wrapper {
  width: 100%;
  margin-left: 280px;
  transition: all 0.3s ease;
  background: #FFF8F0;
  min-height: 100vh;
  padding-top: 0;
}


.page-wrapper.toggle-sidebar {
  margin-left: 0;
}

.content {
  padding: 20px 30px;
}

.page-header {
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .page-wrapper {
    margin-left: 0;
  }
}


